*.pyc
*~
\#*
\**
trace-*
*.h5
*.cmi
*.cmt
*.cmo
*.cmx
*.cmxs
*.cmti
*.o
*.out
META.frama-c*
*_DEP
*.depend
*.i
*.frama-c
*.session
*.txt
*.framac
.python-version
\.\#*
*.frama
*.framac
.ropeproject
.doit.db
*.csv
*.img
*.pdf
*.egg-info
